*{
    margin: 0;
    box-sizing: border-box;
    padding-top: 0px;
}

:root{
    --primary-color: #1A2037;
    --text-color: #e4e2e2;
    --bg-color: palevioletred;
}
.body{
    display: grid;
    gap: 3rem;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    backdrop-filter: blur(10px);
    background-color: var(--body-color-dark);
    font-size: 1rem;
    /* overflow-y: auto; */
}

.nav{
    padding: 2rem 1.5rem;
    border-radius: 0 15px 15px 0;
    height: auto;
    width: max-content;
    background-color: var(--container-color-dark);
    -webkit-box-shadow: 13px 0px 16px -8px rgba(0,0,0,0.43);
    -moz-box-shadow: 13px 0px 16px -8px rgba(0,0,0,0.43);
    box-shadow: 13px 0px 16px -8px rgba(0,0,0,0.43);
    --grid-columnas-nav: max-content 0fr;

}

.nav:has(:hover), .nav:hover{
    --grid-columnas-nav: max-content 1fr;
}

.nav__list{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav__item{
    color: var(--color-textos);
    display: grid;
    align-items: center;
    grid-template-columns: var(--grid-columnas-nav);
    transition: grid-template-columns .2s;
    border-radius: 5px;
}

.nav__item--down{
    margin-top: auto;
}

.nav__item:hover{
    cursor: pointer;
    background-color: var(--bg-color);
}

.nav__item--user{
    position: relative;
    margin-top: 10px;
}

.nav__item--user::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: -5px;
    background-color: var(--color-borde);
}

.nav__figure{
    padding: 1rem;
    
}


.nav__show{
    overflow: hidden;

}

.nav__name{
    text-wrap: nowrap;
}

.nav__name--user{
    padding-right:1rem;
    white-space: nowrap;
}

.nav__img{
    width: 35px;
}

.nav__img--avatar{
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/*Modificando el BTN cerrar sesion*/
.cerrarSesion{
    background-color: transparent;
    border: none;
    color: whitesmoke;
    font-size: 1.2rem;
    text-wrap: nowrap;
    cursor: pointer;
}


/*scroll*/
.body::-webkit-scrollbar {/* Estilos para SCROLL DEL CONTENEDOR  (Chrome, Safari) */
    width: 5px; /* Ancho de la barra de desplazamiento */
}

.body::-webkit-scrollbar-track {
    background-color: #343a40; /* Color de fondo de la barra de desplazamiento */
}

.body::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del "scroll thumb" */
    border-radius: 5px; /* Radio de borde del "scroll thumb" */
}

.body::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cambio de color al pasar el cursor sobre el "scroll thumb" */
}
